@import url('https://fonts.googleapis.com/css?family=Montserrat');
.conta{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conta p{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  padding: 0.5rem;
}
.typed-text{
  font-weight: normal;
  color: #62FADA;
}
.cursor{
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}
.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {background-color: #ccc;}
  49% {background-color: #ccc;}
  50% { background-color: transparent;}
  99% { background-color: transparent;}
  100%{background-color: #ccc;}
}
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.preload{
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  
}
.logo{
  width: 300px;
  height: 70px;
  margin: 150px auto 50px auto;
  font-size: 50px;
  text-shadow: -1px 2px 2px #000;
  text-align: center;
  color: azure;
}
.loader.hidden {
  animation: fadeOut 5s ;
  animation-fill-mode: forwards; 
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
body, html{
height: 96vh;
background-color: #0A192F;
color: white;
}

  /*sagar image center*/
  .cen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    padding-left: 100px;
  }
  .cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    
  }
 
 
.ABT{
    padding-top: 20px;
    padding-bottom: 0px;
    
}
.navbar{

     display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(10, 25, 47);
    z-index: 11;
    width: 100%;
    height: 60px;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.leftcont{
  display: flex;
    position: fixed;
    cursor: pointer;
    align-items: left;
    justify-content: left;
    vertical-align:super ;
    
}
.rightcont{
  display: flex;
    position: fixed;
    cursor: pointer;
    align-items: right;
    justify-content: right;
    vertical-align:super ;
    
}

.intro{
    padding-left: 100px;
    padding-right: 100px;
    color: #62FADA;
    
}
.back{
    background-color: #0A192F;
    color:whitesmoke;
    font-weight: bolder;
   
}
.counter {
    background-color:#abc7f0;
    padding: 20px 0;
    border-radius: 5px;

}

.count-title {
    font-size: 40px;
    font-weight: normal;
   
    
    text-align: center;
    color: #005341;
}

.count-text {
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    color: #005341;
}


.nav-pills .nav-link{
    color:whitesmoke;
    
}
.containe{
    display: block;
    width: 70%; /* Full width */
    padding-left: 24%;
    border-radius: 5px;
    height: 0px;
}
 hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
  .alert{
    background-color: #0A192F;
  
  }
  .alert-heading{
    color: white;
  }
  .nav-pills .nav-link:hover{
    color:#1dcaa5;
    font-weight: bolder;
    font-size: 15px;
  }
 
  .vl {
    border-left: 6px solid #1dcaa5;
    height: 140px;
    position: absolute;
     left: 10%; 
    margin-left: -3px;
    top: 0;
  }
   /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  .krfQUW {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: white;
    font-weight: bolder;
    
}

.juoHJq {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.jxlTta {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
  color: white;
  font-weight: bolder;
}
.jxlTta:hover{
  text-decoration: none;
  font-size: 15px;
  color: #1dcaa5;
  font-weight: bolder;
}
.gdFbEQ {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
  padding: 150px 0px;
}
.bBToPj {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-left: 30px;
}
.dEMzYE {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  white-space: nowrap;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(100, 255, 218);
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid rgb(48, 60, 85);
}
.dpgzhE {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  white-space: nowrap;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(136, 146, 176);
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid rgb(48, 60, 85);
}
.dEMzYE:hover, .dEMzYE:focus {
  background-color: rgb(23, 42, 69);
}

.dEMzYE:hover, .dEMzYE:active, .dEMzYE:focus {
  color: rgb(100, 255, 218);
  outline: 0px;
}
.bBToPj ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.fijiCw {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: rgb(168, 178, 209);
  margin-bottom: 30px;
}
.jpTwwo {
  color: rgb(204, 214, 246);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}
.gCOPqd {
  display: flex;
  align-items: flex-start;
  position: relative;
}
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 80%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 5px;
  height: 25px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: black; /* White text color */
  height: 25px;
}
.skil{
  padding-left: 120px;
  padding-right: 10px;
  padding-top: 50px;
}
.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color:rgb(3, 218, 182);
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(3, 218, 182);
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  text-align: center;
}
.title{
  font-family: sans-serif;
  color: #1ACAA5;
  text-align: center;
}
.tabContainer{
  width: 80%;
  height: 400px;
  padding-bottom: 50px;
}
.tabContainer .buttonContainer{
  height: 15%;
}
.tabContainer .buttonContainer button{
  width: 30%;
  height: 100%;
  float: center;
  border: none;
  outline:none;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: grey;
  color: white;
}
.tabContainer .buttonContainer button:hover{
  background-color: #d7d4d4;
  color: #000;
}
.tabContainer .tabPanel{
  
  background-color: gray;
  color:#1acaa5;
  padding-left: 15px;
  padding-top: 15px;
  height:425px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  display: none;
}
div.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 120px;
}

.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}
.oiu{
  height: 550px;
}
.oi{
   min-height: 650px;
  max-height: 1350px; 
  
}
.card-body {
 max-height: 350px;
}
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #ccc!important;
  background-color: black!important;
  margin-left: 300px;
  margin-right: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-height: 700px;
  max-width: 50%;
}
.w3-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.w3-padding-large {
  padding: 12px 24px!important;
  text-align: center;
  justify-content: center;
  align-items: center;
}
aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
}
textarea {
width: 100%;
}
.content-head {
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.1em;
margin: 2em 0 1em;
}
.is-center {
text-align: center;
}
.button-success {
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
font-size: 125%;
}
button {
float: center;
align-items: center;
justify-content: center;
border-radius: 5px;
}
#name, #email {
width: 50%;
}
button.subm:hover{
  color: whitesmoke;
  background-color: teal;
  
  font-weight: bolder;
  
}
.ce {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 50%;
  padding-left: 100px;
}

 .iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 95%;
  height:80%;

}